---
layout: default
---
<div class="post-container">
    <a href="{{ site.baseurl }}/" class="back-btn">← Back to Feed</a>

    <article class="video-spotlight">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/{{ page.youtube_id }}" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="video-details">
            <h1>{{ page.title }}</h1>
            <p class="meta">Rating: {{ page.rating }}</p>
            <hr>
            <div class="description">
                {{ content }} </div>
        </div>
    </article>
</div>
